body {
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(218, 35, 35, 0.5);
    height: 100px
}

main {
    background-color: white;
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.image {
    position: absolute;
    width: 216px;
    height: 31px;
    left: 120px;
    top: 25px;
}

.navdiv {
    width: 98px;
    height: 21px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 229px;
    gap: 10px;
    position: absolute;
    width: 103px;
    height: 41px;
    left: 1217px;
    top: 25px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    padding: 0px;
    gap: 42px;
    position: absolute;
    width: 669px;
    height: 100px;
    left: 494px;
    top: 35px;
}

.img1 {
    position: relative;
    padding-bottom: 40px;
    left: 1700px;
}

.div1 {
    text-align: center;
    padding-top: 40px;
}

.preview {
    width: 100%;
    height: 765px;
    background-image: url(Rectangle\ 26\ \(18\).png);
    background-repeat: no-repeat;
}

.bgwrap {
    position: absolute;
    width: 892px;
    height: 422px;
    left: 107px;
    top: 135px;
}

h1 {
    position: absolute;
    width: 892px;
    height: 422px;
    left: 10px;
    top: 0px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: white;
    margin-left: 0px;
    padding: 0
}

.h21 {
    position: absolute;
    width: 723px;
    height: 24px;
    left: 10px;
    top: 280px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

.h22 {
    text-align: center;
    position: absolute;
    left: 300px;
    width: 611px;
    height: 53px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */
    color: #F2785C;
}

.steps {
    height: 500px;
    width: 1440px;
}

.images1 {
    position: relative;
    width: 1177px;
    height: 154px;
    left: 300px;
    top: 70px;
    padding: 60px;
}

.bys {
    position: relative;
    width: auto;
    height: auto;
    left: -170px;
    top: 0px;
}

.calc {
    position: relative;
    right: -100px;
}

.air {
    position: relative;
    right: -400px
}

.pb {
    position: absolute;
    width: 247px;
    height: 24px;
    left: -180px;
    top: 130px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 30px;
    /* identical to box height */
    color: #0D606F;
}

.pc {
    position: absolute;
    width: 222px;
    height: 24px;
    left: 210px;
    top: 130px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 30px;
    /* identical to box height */
    color: #0D606F;
}

.pa {
    position: absolute;
    width: 317px;
    height: 24px;
    left: 550px;
    top: 130px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 30px;
    /* identical to box height */
    color: #0D606F;
}

.destinations {
    width: 2520px;
    height: 1500px;
    left: -540px;
    top: 1189px;
}

.h2d {
    position: absolute;
    width: 501px;
    height: 53px;
    left: 470px;
    top: 1400px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */
    color: #F2785C;
}

.destinations {
    display: flex;
    gap: 60px;
}

.bg1 {
    position: relative;
    width: 800px;
    height: 800px;
    left: -540px;
    top: 200px;
    background: url(Rectangle\ 26\ \(13\).png), #FFFFFF;
    border-radius: 16px;
}

.bg2 {
    position: relative;
    width: 800px;
    height: 800px;
    left: -540px;
    top: 200px;
    background: url(Rectangle\ 26\ \(8\).jpg), #FFFFFF;
    border-radius: 16px;
}

.bg3 {
    position: relative;
    width: 800px;
    height: 800px;
    left: -540px;
    top: 200px;
    background: url(Rectangle\ 26\ \(9\).jpg), #FFFFFF;
    border-radius: 16px;
}

.JAPAN {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
    font-size: 32px;
    font-family: 'Red Hat Text';
    font-style: normal;
}

.USA {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
    font-size: 32px;
    font-family: 'Red Hat Text';
    font-style: normal;
}

.frame {
    position: absolute;
    bottom: 0;
    top: 2400px;
    left: 630px;
    width: 200px;
    height: 100px;
}

.buttonm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 32px;
    position: absolute;
    width: 228px;
    height: 60px;
    left: 607px;
    top: 2550px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.Stories {
    position: absolute;
    width: 1600px;
    height: 1322px;
    left: 0px;
    top: -130px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
}

.ts {
    font-family: 'Red Hat Text';
    font-style: normal;
    color: #F2785C;
    padding-bottom: 70px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
}

.lodka1 {
    float: left;
    border-radius: 10%;
}

.h3lodka {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    left: 20px;
    color: #0D606F
}

.plod {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    position: relative;
    left: 20px;
    height: auto
}

.read {
    text-decoration: underline;
    font-weight: 900;
}

.stwr {
    position: relative;
    background: url(Rectangle\ 26\ \(9\).png) #FFFFFF;
    width: 1600px;
    height: 1500px;
    top: -100px
}

.footer {
    position: absolute;
}